
.project-preferences-page .content{
  height: 90vh;
  min-width: 90vw;
  display: flex;
  flex-direction: column;
  overflow-y: visible;
}


.project-preferences-page .page-content{
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap:0px;
  height: 85vh !important;
  max-height: 85vh  !important;
  min-width: 90vw;
  cursor: default;
}

.pref-container {
    display: flex;
    justify-content: center;
    gap:3vh;
    border-radius: 15px;
    cursor: default;
    width: 80vw;
    height: 70vh;
}



.projects-display-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 70vh;
    max-height: 70vh;
    width: 60vw;
    max-width: 60vw;
    background-color: transparent;
    border-radius: 15px;
    overflow: hidden;
    -webkit-mask-image: linear-gradient(to bottom, black 90%, transparent 100%);

}


.pref-container{
  margin-top: 1vh;
  padding: 2vh;
  background-color: rgba(255, 255, 255, 1);
  height: auto;
}

.pref-projects-container{
  border: 9px solid transparent;
  border-radius: 15px;
  min-height: 95%;
  min-width: 95%;
  max-height: 95%;
  max-width: 95%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap:15px;
  margin: 1vh;
  overflow-y: scroll;
  padding: 1vh;
  cursor: default;
}

.project-preferences-page .full-project-wrapper{
    background-color: var(--theme-light);
    cursor: default;
}



.project-preferences-page .full-project-wrapper.unselectable{
  opacity: 0.4;
}

.project-preferences-page .preferences-display-wrapper.all-selected{
  opacity: 1;
}

.project-preferences-page .project-container .project-content{
  text-align: center !important;
}

.chosen-project .project-content{
  justify-content: center !important;
}

.chosen-project .project-content p{
  margin-bottom: 5vh !important;
}

.project-preferences-page .full-project-wrapper.selectable p{
  opacity: 1;
}

.project-preferences-page .full-project-wrapper.selectable:hover{
    background-color: var(--theme-mid);
    opacity: 1;
}

.project-preferences-page .project-container{
    background-color: transparent;
    font-size: 12px !important;
}

.project-preferences-page .project-container .project-data p{
    font-size: 12px !important;
}


.project-preferences-page .project-container .project-header p{
    font-size: 15px !important;
}
.project-preferences-page .project-container.collapsed{
  height: 25vh;
  overflow: hidden; 

}  

.project-preferences-page .confirmation-window .project-container.collapsed{
  height: 25vh;
  width: 10vw;
  flex-grow: 1;
  flex: 1;
}

.project-preferences-page .project-container.collapsed p{
  color: var(--text-color-dark) !important;
}  
.pref-container .confirmation-window{
  padding: 0;
}
.choice-title{
  font-size: 14px;
  min-width: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  padding: 0;
  margin: 0;
}


.preferences-display-wrapper{
  display: flex;
  flex-direction: column;
  height: 70vh;
  width: 20vw;
  background-color: white;
  border-radius: 15px;
  cursor: default;
}

.pref-button-wrapper{
  display: flex;
  flex-direction: row;
  min-width: 100%;
  justify-content: space-between;
  align-items: stretch;
  flex-grow: 1;
  flex: 1;
  opacity: 0.3;
  gap: 1vh;
  cursor: default;
  position: relative;
}

.pref-button-wrapper.selected,
.pref-button-wrapper.selecting{
  opacity: 1;
}

.pref-number{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 2vw;
  margin: 1vh;
  cursor: default;
}

.selecting .pref-number p{
  color: var(--theme-highlight);
}

.pref-number p{
  font-size: 18px;

}


.preferences-tooltip{
  margin: 0;
  padding: 0;
  margin-bottom: -2vh;
  color: rgb(242, 133, 0) !important;
  margin-left: 1vw;
  font-weight: 600;
  font-size: 24px !important;
}


.selecting-text{
  display: none;
}


.pref-button{
    flex-grow: 1;
    flex: 1;
    max-height: 15vh;
    margin: 1vh;
    margin-left: 0;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    position: relative;
    padding: 1vh;

}



.pref-button-wrapper.selecting.selected .choice-title{
  display: none;
}

.pref-button-wrapper.selected .pref-button{
  background-color: var(--theme-light)!important;
  transition: 0s;
}


.pref-button-wrapper.selected .pref-button:hover{
  background-color: var(--theme-light)!important;
  transition: 0s;
}

.selecting-text{
  display: none;
}
.pref-button-wrapper.selecting .selecting-text{
  display: block;
}


.pref-button-wrapper .choice-hover{
 display: none;
}
.pref-button-wrapper.selected.not-selecting .pref-button:hover .choice-hover{
  display: block;
}



.pref-button-wrapper.selecting .pref-button{
  background-color: white;
  border: 5px solid var(--theme-highlight);
  transition: 0s;
}





.pref-button > *{
  padding: 0;
  margin: 0;
}


.confirmation-projects::-webkit-scrollbar,
.pref-projects-container::-webkit-scrollbar {
    width: 10px; 
}

.pref-projects-container::-webkit-scrollbar-thumb{
  color: var(--theme-dark);
}

.pref-projects-container::-webkit-scrollbar-thumb{
  background-color: var(--theme-light);
  border-radius: 10px; 
}


.pref-projects-container::-webkit-scrollbar-thumb:hover{
  /* background-color:rgba(255, 255, 255, 1);  */
  background-color: var(--theme-mid);
  /* opacity: 0.6; */
   border-radius: 10px; 
}

.pref-projects-container::-webkit-scrollbar-track{
    background-color: inherit;
    border-radius: 10px;
}

.submit-pref-button-wrapper{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: end;
}

.submit-pref-button{
    font-size: 19px;
    color: white;
    margin: 1vh;
    margin-left: 3vw;
    flex-grow: 0;
}

.submit-pref-button.not-ready{
  opacity: 0.3;
  background-color: var(--theme-dark) !important;
}

.submit-pref-button.ready{
  opacity: 1;
  background-color: var(--theme-highlight);
}


.submit-pref-button:hover{
    background-color: var(--theme-dark) !important;
}




.project-preferences-page .confirmation-window{
  min-width: 80vw !important;
  max-width: none !important;
  background-color: transparent;
}



.project-preferences-page .confirmation-content.projects{
  min-width: 65vw !important;
}


.project-preferences-page .confirmation-content.success-message{
  min-width: 30vw !important;
}

.confirm-button.ready{
  background-color: var(--theme-highlight) !important;
}

.confirm-button.ready:hover{
  opacity: 0.7;
}

.confirm-button.not-ready{
  opacity: 0.3;
  background-color: var(--theme-very-dark);
}


.projects-preferences-page .confirmation-text span,
.projects-preferences-page .confirmation-checks span {
  font-size: 13px !important;
}

input[type="checkbox"]{
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 15px !important;
  height: 15px !important;
  background-color: transparent;  
  border: 2px solid var(--theme-highlight); 
  display: inline-block;
  border-radius: 2px;
  padding: 0;
  position: relative;
  margin-top: -1px;
}


input[type="checkbox"]:checked{
  background-color: var(--theme-dark);
  border-color: var(--theme-dark);

}

input[type="checkbox"]:checked::after{
  position: absolute;
  content: '\2714';
  color: white;
  font-size: 12px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.project-preferences-page .pref-container .confirmation-header p{
  color: var(--theme-dark) !important;
  font-weight: 700;
  font-size: 23px;
  padding: 2vh;
}
.project-preferences-page .confirmation-projects{
  display: flex;
  justify-content: space-evenly;
  gap: 2vh;
  flex-wrap: wrap;
  /* overflow-x: wrap; */
  width: 100%; 
  align-items: stretch;
  padding: 1vh;
}

.confirmation-content.projects{
  padding: 0;
}

.check-popup{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.check-popup.visible{
  opacity: 1;
}

.check-popup.hidden{
  opacity: 0;
}

.check-popup p{
  color: var(--theme-highlight);
  font-size: 13px;
}

.project-preferences-page .confirmation-checks{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5vh;
}

.project-preferences-page .confirmation-text span,
.project-preferences-page .confirmation-text p{
  font-size: 14px !important;
  color: var(--text-color-dark);
}


.project-preferences-page .confirmation-checks label{
  width: auto;
  font-weight: 500;
  font-size: 13px;
}

.project-preferences-page .confirmation-buttons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:1vh;
  margin-top: 0.5vh;
}

.proj-number{
  font-size: 20px;
  color: var(--theme-highlight) !important;
}

.chosen-project.full-project-wrapper{
  height: 25vh;
  overflow: hidden;
  background-color: var(--theme-light);
}

.chosen-project .project-wrapper.collapsed{
  mask-image: linear-gradient(to bottom, black 70%, transparent 100%); 
  -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%); 
  overflow: hidden;
  height: 100%;
}

.chosen-project .project-content{
  mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
} 

.project-preferences-page .project-wrapper.collapsed{
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  align-items: center !important;

}

.chosen-project.full-project-wrapper:hover{
  background-color: var(--theme-light) !important;
}

.chosen-project .project-header p{
  color: var(--text-color-dark);
}

.chosen-project .project-content{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center !important;
  margin: 0;
  padding: 0;
  height: auto;
}
.chosen-project .project-data{
  display: none;
}

.project-preferences-page .redirect-button{
  background-color: transparent;
}

.project-preferences-page .redirect-button:hover{
  background-color: transparent !important;
  opacity: 0.8;
}

.project-preferences-page .confirm-button{
  font-size: 15px;
  color: white; 
  padding: 1vh; 
}


.selected.not-selecting .cancel-button-wrapper{
  opacity: 1;
  z-index: 10;
}


.cancel-button-wrapper{
  width: 3vh;
  height: 3vh;
  padding: 0;
  margin: 0;
  margin-left: -3.7vh;
  background-color: transparent !important;
  opacity: 0;
  overflow: visible;
}
.cancel-button{
  overflow: visible;
  padding: 0;
  margin: 0;
  border: none !important;
  background-color: transparent !important;
}


.selected.not-selecting .cancel-button:hover{
  opacity: 0.6;
  transition: 0s !important;
}



.quit-icon {
  width: 80%;
  height: 80%;
  background-color: transparent !important;
  padding: 0;
  margin: 0;
  overflow: visible;

}


.quit-icon path{
  stroke:var(--text-color-light);
  stroke-width: 60;
}


.projects-preferences-page .confirmation-text{
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  gap: 1vh;
  font-weight: 600;
}

/**           PROJECT PREFERENCE FORM             **/
/* 
.projectPreferences{
    background-color: #2979FF;
    display: grid;
    width: 100%;
    min-height: 100vh;
    position: absolute;
  }
  
  .projectPreferences #projectPreferenceselements h2{
    color: white;
    margin-left: 3vw;
  }
  
  .preferenceProjects{
    background-color: white;
    max-width: 80%;
    min-height: 70%;
    min-width: 80%;
    position:static;
    margin: 0;
    margin-left: 3vw;
    border-radius: 10px;
    overflow: auto;
    flex-wrap: wrap;
    display: flex;
    gap: 10px;
    align-content: flex-start;
  }
  
  .projectPreferences #sidebuttons{
    width: 10%;
    height: 80%;
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-left: 88%;
    top: 7vh;
  }
  
  .projectPreferences #sidebuttons button:hover{
    background-color: lightgray;
    color: black;
    
  }
  
  .projectPreferences #sidebuttons button{
    border-radius: 10px;
    padding: 8px;
    width: 90%;
    height: 100%;
    text-align: center;
    border: 0.5px solid gray;
    border-bottom: 2px solid grey;
    background-color: white;
    margin-top: 10px;
    position: relative;
    margin-left: 0;
    align-self: center;
  }
  
  .projectPreferences #preferencesubmit button{
    border-radius: 10px;
    padding: 8px;
    width: 100%;
    height: 100%;
    text-align: center;
    border: 0.5px solid gray;
    border-bottom: 2px solid grey;
    background-color: white;
    position: relative;
    margin-left: 0;
  }
  
  .projectPreferences #preferencesubmit{
    width: 9%;
    min-width:min-content;
    max-width: 12vw;
    height: 9%;
    left: 88.5%;
    position:relative;
    top:10vh;
  }
  
  .projectPreferences #preferencesubmit button{
    height: 50%;
    background-color: #003998;
    color: white;
    border-color: #003998;
    position: relative;
  }
  
  .projectPreferences #agreeon{
    margin-top: 35%;
    position:absolute;
    margin-left: 3vw;
  }
  
  .projectPreferences .preferenceProjects .project{
    background-color: white;
    margin: 1%;
    border-radius: 10px;
    border: 1px solid #003998;
    text-align:left;
    max-width: 18vw;
    max-height: 28vh;
    min-width: 200px;
    min-height: 100px;
    height: fit-content;
    flex: 1 1 auto;
    flex-wrap: wrap;
  }
  
  .projectPreferences .preferenceProjects .project #projectDescription{
    margin-left: 5%;
    font-size:small;
    overflow: auto;
    width:fit-content;
    min-width: 90%;
    min-height: 100%;
  }
  
  
  
  .projectPreferences #onsubmission{
    background-color: #2979FF;
    display: none;
    height: 100vh;
    width: 100vw;
    text-align: center;
  }
  
  .projectPreferences #onsubmission h2{
    margin-left: 0;
    position: relative;
    color: white;
  }
  
  
  .projectPreferences #onsubmission #return button{
    background-color: #003998;
    color: white;
    border: 1px solid #003998;
    border-radius: 10px;
    height: 5vh;
    width: 10vw;
  }
  
  
  
  .projectPreferences #onsubmission #chosenProjects{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
  }
  
  .projectPreferences #onsubmission #chosenProjects .project{
    background-color: white;
    margin: 3%;
    margin-top: 30vh;
    border-radius: 10px;
    border: 1px solid #003998;
    max-width: 20vw;
    max-height: 18vh;
    overflow: hidden;
  }
  
  #projectpreferenceconfirm{
    min-height: fit-content;
    min-width: fit-content;
    width: 50%;
    top: 30%;
    z-index: 1;
    align-self: center;
    margin: 0;
    position: fixed;
    text-align: center;
    justify-self: center;
    background-color: #2979FF;
    color: white;
    border: 1px solid #003998;
    border-radius: 10px;
    display: none;
  }
  
  #confirmprojects{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
  }
  
  #confirmprojects .project{
    background-color: white;
    color: black;
    margin: 3%;
    border-radius: 10px;
    border: 1px solid #003998;
    text-align:center;
    max-width: 20vw;
    max-height: 20vh;
    min-width: 80px;
    min-height: 80px;
    height: fit-content;
  }
  
  #projectpreferenceconfirm p{
    font-size: small;
  }
  
  #projectpreferenceconfirm button{
    background-color: #003998;
    margin: 1%;
    padding: 1%;
    width: 100px;
    color: white;
    border: solid 1px #003998;
    border-radius: 10px;
  }
  
  #projectPreferenceselements{
    opacity: 100%;
    background-color: #2979FF;
  }
  
  
  
  
  
   */