/* .projects-admin-page */

.admin-content{
  height: 90vh;
  display: flex;
  flex-direction: column;
  /* justify-content: end; */
}

.admin-page-heading{
  /* min-height: 12vh;
  max-height: 12vh; */
  margin-top: 4vh;
  padding-bottom: 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.admin-page-content{
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap:0px;
  height: 80vh !important;
  max-height: 80vh  !important;
  overflow-y: hidden;
} 


.container-headers{
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: end;
  background-color: inherit;
}

.container-headers h2{
  margin: 0;
  padding: 0;
  font-size: 20px;
  color: white;
}


/**           PROJECTS ADMIN             **/


/* .projects{
    gap:2rem;
    align-items: center;
    display: 'flex';
  
}
   */
  
.project-sorting-wrapper{
    background-color: inherit;
    display: flex;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
    flex: 1;
    flex-grow: 1;
    overflow-y: hidden;
    margin-top: -1vh;
}

.sort-container{
  max-height: 100%;
  overflow-y: scroll;
}

#sorting #left, 
#sorting #center, 
#sorting #right {
  flex: 1;
  flex-grow: 1;
  max-height: 100%; 
  overflow-y: scroll; 
}

/* 
#sorting #left{
  flex-grow: 1;
  flex: 1;
  border: none;
  overflow-y: scroll;
}

#sorting #center{
  flex-grow: 1;
  flex: 1;
  overflow-y: scroll;
}

#sorting #right{
  flex-grow: 1;
  flex: 1;
  overflow-y: scroll;
} */
  
/*   
  
  .projects .project{
    background-color: white;
    max-width: 100px;
    max-height: 100px;
    margin: 1%;
    border-radius: 10px;
    border: 1px solid #003998;
    text-align:left;
    min-height: fit-content;
    flex: 1 1 auto;
    flex-wrap: wrap;
  
  } */
/*   
  .projects #projectDescription{
    margin-left: 5%;
    font-size:small;
    overflow: auto;
    display: inline-flex;
  }

  .projects #projectNum{
    float:left;
    display:inline-flex;
    width: 20%;
    height: 50px;
    max-height: 20vh;
    border-bottom: 1px solid #003998;
    border-right: 1px solid #003998;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 0;
    margin: 0;
  }
  
  .projects #projectName{
    display:inline-flex;
    width: 79.7%;
    height: 50px;
    max-height: 20vh;
    border-bottom: 1px solid #003998;
    justify-content: center;
    text-align: center;
    align-items: center;
    float: right;
    padding: 0;
    margin: 0;
  
  }
   */
/*   
  .projects .project{
    background-color: white;
    margin: 1%;
    border-radius: 10px;
    border: 1px solid #003998;
    text-align:left;
    max-width: 18vw;
    max-height: 28vh;
    min-height: fit-content;
    flex: 1 1 auto;
    flex-wrap: wrap;
  
  }
   
  .projects #projectDescription{
    margin-left: 5%;
    font-size:small;
    overflow: auto;
    display: inline-flex;
  }
   
  .projects #projectNum{
    float:left;
    display:inline-flex;
    width: 20%;
    height: 50px;
    max-height: 20vh;
    border-bottom: 1px solid #003998;
    border-right: 1px solid #003998;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 0;
    margin: 0;
  }
  
  .projects #projectName{
    display:inline-flex;
    width: 79.7%;
    height: 50px;
    max-height: 20vh;
    border-bottom: 1px solid #003998;
    justify-content: center;
    text-align: center;
    align-items: center;
    float: right;
    padding: 0;
    margin: 0;
  
  }
  
*/
  .projects #load{
    width: 5%;
    height: 4%;
    background-color:#003998;
    border-radius: 3px;
    /* padding: 4px; */
    /* margin-top: 8px; */
    transition-duration: 0.4s;
    border: 2px solid #003998;
    color: white;
    /* position: absolute; */
    margin-left: 45%;
  }
  
  .projects #load:hover{
    background-color: white;
    color: black;
  }
  
  .projects #publishing{
    width: 100%;
    bottom: 0px;
    position: absolute;
    padding-top: 2%;
    padding-bottom: 2%;
  }
  
  .projects #unpublish{
    width: fit-content;
    height: 4%;
    border-radius: 3px;
    padding: 4px;
    /* margin-top: 8px; */
    transition-duration: 0.4s;
    background-color:#2979FF;
    border: 2px solid #2979FF;
    color: white;
    /* position: absolute; */
    margin-left: 10%;
    /* margin-left: 45%; */
  }
  
  .projects #unpublish:hover{
    background-color:white;
    color: black;
  }
  
  
  .projects #publish{
    width: fit-content;
    height: 4%;
    background-color:#003998;
    border-radius: 3px;
    padding: 4px;
    /* margin-top: 8px; */
    transition-duration: 0.4s;
    border: 2px solid #003998;
    color: white;
    /* position: absolute; */
    margin-left: 20%;
  }
  
  .projects #publish:hover{
    background-color: white;
    color: black;
  }

  /* .sortable{
    height: inherit;
  } */
  
  .sortable #close{
    width: 25px;
    height: 25px;
    background-color: #2979FF;
    color: white;
    position: absolute;
    margin-top: -7.5%;
    margin-left: 85%;
    display: none;
    border: none;
    z-index: 5;
    font-size: large;
  }
  /* .sortable #edit{
    width: 25px;
    height: 25px;
    background-color: #2979FF;
    color: white;
    position: absolute;
    margin-top: -7.5%;
    margin-left: 80%;
    display: none;
    border: none;
    z-index: 10;
    
  } */

  
.publish-buttons{
  position: absolute;
  right: 0;
  margin-right: 3.5vh;
  margin-bottom: -1vh;
}

.publish-buttons button{
  padding: 3px;
  margin: 5px;
  background-color: var(--text-color-dark);
  color: white;
}

.publish-buttons button:hover{
  opacity: 0.7 !important;
  background-color: var(--text-color-dark) !important;
}

#sorting #right::-webkit-scrollbar,
#sorting #left::-webkit-scrollbar,
#sorting #center::-webkit-scrollbar {
    width: 15px; 
}

#sorting #right::-webkit-scrollbar-thumb,
#sorting #left::-webkit-scrollbar-thumb,
#sorting #center::-webkit-scrollbar-thumb{
    background-color: white;
    border-radius: 10px; 
}

#sorting #right::-webkit-scrollbar-track,
#sorting #center::-webkit-scrollbar-track,
#sorting #left::-webkit-scrollbar-track{
    background-color: var(--transparent);
    border-radius: 10px;
    margin-top: 2vh;

}
