.faq-page h4{
    font-size: 17px;
    color: var(--text-color-dark) !important;
    padding-top: 0;
    margin-top: 0;

}
.faq-page h2{
    font-size: 25px;
    margin-bottom: -3vh;
    margin-top: 1vh;
}


.faq-page .page-content{
    margin-top: 5vh;
}

.faq-section p{
    font-size: 14px;
}

.faq-section{
    max-width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: var(--transparent);
    border-radius: 15px;
}