.faq-page h3{
    font-size: 17px;

}
.faq-page h2{
    font-size: 25px;
    margin-bottom: -3vh;
    margin-top: 1vh;
}


.faq-section p{
    font-size: 14px;
}

.faq-section{
    max-width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: var(--transparent);
}