/* DROP DOWN MENU */

.semester-subheading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -1vh;
    margin-left: 2vh;
}

.dropdown-button {
    background-image: url('/../client/src/media/drop-icon.png');
    background-size: 60% 60%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: inherit;
    /* margin-top: 1vh; */
    width: 25px;
    height: 25px;
    border: none;
    cursor: pointer;
    box-sizing: content-box;
    position: relative;
    filter: invert(1);
    margin: 0;
}

.dropdown-button:hover{
    opacity: 0.7;
    background-color: transparent !important;
}

.dropdown-menu {
    text-decoration: none;
    list-style-type: none;
    display: none;
    position: absolute;
    background-color: white;
    z-index: 100;
    width: 200px;
    padding: 0px;
    /* margin-top: 10px; */
    margin-left: -80px;
    border: 2px solid white;
    border-radius: 10px;
}

.semester-dropdown{
    margin-top: 0.3vh;
}
.semester-dropdown li{
    margin-top: -4px;
}
.dropdown-menu-button {
    background-color: inherit;
    font-size: 18px;
    font-weight: 600;
    padding: 5px;
    text-decoration: none;
    color: var(--text-color-dark);
    transition: 0s;
}

.dropdown-menu-button:hover {
    font-weight: 700;
    /* background-color: transparent !important; */
    color: var(--text-color-dark) !important;
    transition: 0s;
}
