

/**           NAV BAR            **/

.navbar{
  box-sizing: border-box;
  background-color: #003998;
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;
  /*gap:2rem;*/
  padding: 0 1rem;
  height: 15vh;

}

.navbar ul{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}
.navbar a{
  color: inherit;
  text-decoration: none;
}

/**           LOGIN PAGE             **/


.login-left{
  background-color: #2979FF;
  width: 50%;
  display: flex;
  float: left;
  height: 100vh;
}

.login hr{
  width: 30vw;
  color: black;
  margin-left: 23%;
}

.login-right{
  background-color: white;
  width: 50%;
  float: right;
  height: 100vh;
  
}

.login h1{
  text-align: center;
  margin-top: 20%;
}

.login-form{
  float:center;
  margin-left: 25%;
}

.login-form input, select{
  border: 1px, solid, black;

}

.login-form input{
  padding: 4px;
  margin-top: 8px;
  width: 25vw;
}

.login-form input[type=text]{
  width: 25vw;
  padding: 4px;
  margin-top: 8px;
  border: 1px, solid, black;
  margin-left: 0;
  
}

.login-form label{
  text-align: center;
  margin-left: 2%;
}

.login button[type=new]{
  float:center;
  width: 25.85vw;
  margin-left: 27.5%;
  background-color:#003998;
  border-radius: 3px;
  padding: 4px;
  margin-top: 8px;
  transition-duration: 0.4s;
  border: 2px solid #003998;
  color: white;
}

.login button[type=submit]{
  width: 25.85vw;
  float:center;
  background-color:#2979FF;
  border-radius: 3px;
  padding: 4px;
  margin-top: 8px;
  transition-duration: 0.4s;
  border: 2px solid #2979FF;
  color: white;
  margin-left: 2%;
}

.login button:hover{
  width: 25.85vw;
  float:center;
  background-color: white;
  color: black;
  
}


/**           PROJECTS ADMIN             **/



.projects{

  gap:2rem;
  align-items: center;
}

.projects #head{
  text-align: center;
  background-color:#2979FF;
  height: 7vh;
  color: white;
  display: flex;
  flex-direction:column;
  justify-content: center;
}

#sorting{
  display: flex;
  text-align: center;
  height: 80vh;
}

#sorting #left{
  width: 33.5%;
  border-color: black;
  border-right: solid 1px;
}
#sorting #center{
  width: 33%;
}
#sorting #right{
  width: 33.5%;
  border-left: solid 1px;
  border-color: black;
}


/**           PROJECT PROPOSAL FORM             **/



.proposal-left{
  background-color: #2979FF;
  width: 50%;
  display: flex;
  float: left;
  height: 100vh;
}

.proposal-right{
  background-color: white;
  width: 50%;
  float: right;
  height: 100vh;
}

h1{
  text-align: left;
  margin-top: 3%;
  padding-left: 5%;
}

.propForm1{

  margin-left: 5%;
  position: absolute;
}


input[type=text], select{
  border: 1.5px, solid, #2979FF;
  margin-left: 3%;
  

}

input[type=text]{
  width: 38vw;
  padding: 4px;
  margin-top: 8px;
  
}


#four{
  display: none;
}

#eight{
  display: none;
}

#eleven{
  display: none;
}

#button-container{
 background-color:lightgray;
 margin-top: 45vh;
 height: 33.6vh;
}

#buttons{
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 15%;
  padding-top: 3%;
}

#button{
  border-radius: 6px;
  padding: 8px;
  width: 2rem;
  text-align: center;
  border: 0.5px solid gray;
  border-bottom: 2px solid grey;
  background-color: white;
}

/**           PROJECT PREFERENCE FORM             **/

.projectPreferences{
  background-color: #2979FF;
  display: flex;
  width: 100%;
  height: 150vh;
}

.projectPreferences h2{
  color: white;
  margin-left: 3vw;
  position: relative;
}

.preferenceProjects{
  background-color: white;
  width: 83%;
  height: 60%;
  position:absolute;
  display: flex;
  margin: 0;
  margin-top: 10vh;
  margin-left: 3vw;
  border-radius: 10px;
}



.projectPreferences #sidebuttons button:hover{
  float:center;
  background-color: lightgray;
  color: black;
  
}

.projectPreferences #sidebuttons button{
  border-radius: 10px;
  padding: 8px;
  width: 100%;
  height: 100%;
  text-align: center;
  border: 0.5px solid gray;
  border-bottom: 2px solid grey;
  background-color: white;
  margin-top: 10px;
}

.projectPreferences button{
  border-radius: 10px;
  padding: 8px;
  width: 10%;
  height: 10%;
  text-align: center;
  border: 0.5px solid gray;
  border-bottom: 2px solid grey;
  background-color: white;
  position: absolute;
}