/**           PROJECT CONFIG           **/
.project #projectClient{
  display: none;
}

.project #projectStatus{
  display: none;
}
/**           NAV BAR            **/

.navbar{
  box-sizing: border-box;
  background-color: #003998;
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;
  /*gap:2rem;*/
  padding: 0 1rem;
  height: 15vh;
  max-height: 150px;

}

.navbar ul{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}
.navbar a{
  color: inherit;
  text-decoration: none;
}

/**           NAV BAR(SIDE MENU)            **/

.sidemenu{
  display: none;
  min-height: 100vh;
  width: 15vw;
  background-color: #003998;
  position: absolute;
  color: white;
  z-index: 1;
  font-weight: bold;
}
.sidemenu ul{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-left: 10%;
}
.sidemenu a{
  color: inherit;
  text-decoration: none;
}

.sidemenusub{
  font-weight: normal;
  font-size: small;
}



/**           LOGIN PAGE             **/


.login-left{
  background-color: #2979FF;
  width: 50%;
  display: flex;
  float: left;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.login-left #viewcap{
  background-color: white;
  align-items: center;
  width: 70%;
  height: 50%;
  text-align: center;
  justify-content: center;
}

.login-left #viewcap button{
  color: white;
  background-color: #003998;
  min-width: 25.85vw;
  float:center;
  padding: 2%;
  border-radius: 3px;
  border-style: hidden;
}
.login-left #viewcap a{
  color: white;
  text-decoration: none;
}

.login-left button:hover{
  min-width: 25.85vw;
  float:center;
  text-decoration: underline;
  
}

.login hr{
  width: 30vw;
  color: black;
  margin-left: 23%;
}

.login-right{
  background-color: white;
  width: 50%;
  float: right;
  height: 100vh;
  
}

.login h1{
  text-align: center;
  margin-top: 20%;
}

.login-form{
  float:center;
  margin-left: 18%;
}

.login-form input, select{
  border: 1px, solid, black;

}

.login-form input{
  padding: 4px;
  margin-top: 8px;
  width: 25vw;

}

.login-form input[type=text]{
  width: 29vw;
  padding: 10px;
  margin-top: 8px;
  border: 1px, solid, #003998;
  margin: 1%;
  border-radius: 3px;
}

.login-form input[type=password]{
  width: 29vw;
  padding: 10px;
  margin-top: 8px;
  border: 1px, solid, #003998;
  margin: 1%;
  border-radius: 3px;
}

.login-form input[type=email]{
  width: 29vw;
  padding: 10px;
  margin-top: 8px;
  border: 1px, solid, #003998;
  margin: 1%;
  border-radius: 3px;
}

.login-form label{
  text-align: center;
  margin-left: 2%;
}

.login button[type=new]{
  float:center;
  width: 30.3vw;
  margin-left: 21%;
  background-color:#003998;
  border-radius: 3px;
  padding: 8px;
  margin-top: 8px;
  transition-duration: 0.4s;
  border: 2px solid #003998;
  color: white;
}

.login button[type=submit]{
  width: 30.7vw;
  float:center;
  background-color:#2979FF;
  border-radius: 3px;
  padding: 8px;
  margin-top: 8px;
  transition-duration: 0.4s;
  border: 2px solid #2979FF;
  color: white;
  margin-left: 3%;
}

.login button[type=new]:hover{
  width: 30.3vw;
  float:center;
  background-color: white;
  color: black;

}

.login button[type=submit]:hover{
  width: 30.7vw;
  float:center;
  background-color: white;
  color: black;
}


#createacc button{
  width: 30.7vw;
  float:center;
  background-color:#003998;
  border-radius: 3px;
  padding: 8px;
  margin-top: 8px;
  transition-duration: 0.4s;
  border: 2px solid #003998;
  color: white;
  margin-left: 3%;
}

#createacc{
  display: none;
}


/**           PROJECTS ADMIN             **/


.projects{
  gap:2rem;
  align-items: center;
  display: 'flex';
  /* flexDirection: 'row'; */

}

/* .projects #head{
  text-align: center;
  background-color:#2979FF;
  height: 7vh;
  color: white;
  display: flex;
  flex-direction:column;
  justify-content: center;
} */

#sorting{
  display: flex;
  text-align: center;
  height: 80vh;
  
}

#sorting #left{
  width: 33.5%;
  border-color: black;
  border-right: solid 1px;
  overflow: scroll;
  background: #dadada;
  /* 
  padding: 10;
  margin: 10;
  flex: 1; */
}
#sorting #center{
  width: 33%;
  /* background: #dadada; */
  padding: 10;
  margin: 10;
  flex: 1;
  overflow: scroll;

}
#sorting #right{
  width: 33.5%;
  border-left: solid 1px;
  border-color: black;
  overflow: scroll;
  background: #dadada;
  position: relative;
  /* 
  padding: 10;
  margin: 10;
  flex: 1; */
}

#container1{
  height: 100%;
}

#container2{
  height: 100%;
}

#root{
  height: 100%;
}

.projects .project{
  background-color: white;
  margin: 1%;
  border-radius: 10px;
  border: 1px solid #003998;
  text-align:left;
  max-width: 18vw;
  max-height: 28vh;
  min-height: fit-content;
  flex: 1 1 auto;
  flex-wrap: wrap;

}

.projects #projectDescription{
  margin-left: 5%;
  font-size:small;
  overflow: auto;
  display: inline-flex;
}

.projects #projectNum{
  float:left;
  display:inline-flex;
  width: 20%;
  height: 50px;
  max-height: 20vh;
  border-bottom: 1px solid #003998;
  border-right: 1px solid #003998;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.projects #projectName{
  display:inline-flex;
  width: 79.7%;
  height: 50px;
  max-height: 20vh;
  border-bottom: 1px solid #003998;
  justify-content: center;
  text-align: center;
  align-items: center;
  float: right;
  padding: 0;
  margin: 0;

}


.projects .project{
  background-color: white;
  margin: 1%;
  border-radius: 10px;
  border: 1px solid #003998;
  text-align:left;
  max-width: 18vw;
  max-height: 28vh;
  min-height: fit-content;
  flex: 1 1 auto;
  flex-wrap: wrap;

}

.projects #projectDescription{
  margin-left: 5%;
  font-size:small;
  overflow: auto;
  display: inline-flex;
}

.projects #projectNum{
  float:left;
  display:inline-flex;
  width: 20%;
  height: 50px;
  max-height: 20vh;
  border-bottom: 1px solid #003998;
  border-right: 1px solid #003998;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.projects #projectName{
  display:inline-flex;
  width: 79.7%;
  height: 50px;
  max-height: 20vh;
  border-bottom: 1px solid #003998;
  justify-content: center;
  text-align: center;
  align-items: center;
  float: right;
  padding: 0;
  margin: 0;

}


.projects #load{
  width: 5%;
  height: 4%;
  background-color:#003998;
  border-radius: 3px;
  /* padding: 4px; */
  /* margin-top: 8px; */
  transition-duration: 0.4s;
  border: 2px solid #003998;
  color: white;
  /* position: absolute; */
  margin-left: 45%;
}

.projects #load:hover{
  background-color: white;
  color: black;
}

.projects #publishing{
  background-color: #dadada;
  width: 100%;
  z-index: 99;
  bottom: 0px;
  position: absolute;
  padding-top: 2%;
  padding-bottom: 2%;
}

.projects #unpublish{
  width: fit-content;
  height: 4%;
  border-radius: 3px;
  padding: 4px;
  /* margin-top: 8px; */
  transition-duration: 0.4s;
  background-color:#2979FF;
  border: 2px solid #2979FF;
  color: white;
  /* position: absolute; */
  margin-left: 10%;
  /* margin-left: 45%; */
}

.projects #unpublish:hover{
  background-color:white;
  color: black;
}


.projects #publish{
  width: fit-content;
  height: 4%;
  background-color:#003998;
  border-radius: 3px;
  padding: 4px;
  /* margin-top: 8px; */
  transition-duration: 0.4s;
  border: 2px solid #003998;
  color: white;
  /* position: absolute; */
  margin-left: 20%;
}

.projects #publish:hover{
  background-color: white;
  color: black;
}

/**           PROJECT PROPOSAL FORM             **/



/* .projectProposal .proposal-left{
  background-color: #2979FF;
  width: 20%;
  display: flex;
  float: left;
  height: 85vh;
} */

.projectProposal #proposalInformation{
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
}

.projectProposal .proposalForm{
  margin-left: 17%;
  margin-right: 17%;
}

.projectProposal #proposalContent{
  display: none;
  margin-left: 15%;
  margin-right: 15%;
}

.projectProposal h1{
  text-align: center;
}

.projectProposal h3{
  margin-bottom: 0;
}

.projectProposal p{
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 1em;
}


.projectProposal input[type=text]{
  width: 100%;
  padding: 4px;
  margin-top: 8px;
  margin-left: 1em;
  border: 2px, solid, #003998;
  border-radius: 3px;
}

.projectProposal textarea{
  width: 100%;
  padding: 4px;
  margin-top: 8px;
  margin-left: 1em;
  height: 80px;
  resize: vertical;
  border: 2px, solid, #003998;
  border-radius: 3px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.projectProposal #timeframe{
  width: 100%;
  padding: 4px;
  margin-top: 8px;
  margin-left: 1em;
  height: 35px;
  border: 2px, solid, #003998;
  border-radius: 3px;
}

.projectProposal #teams{
  width: 10%;
  padding: 4px;
  margin-top: 8px;
  margin-left: 1em;
  height: 35px;
  border: 2px, solid, #003998;
  border-radius: 3px;
}

.projectProposal input[type=radio]{
  height: 14px;
  width: 14px;
  border-radius: 10%;
}


.projectProposal #proposalButtons{
  /* text-align: center; */
  /* margin-left: 15%; */
  /* margin-right: 15%; */
  padding-top:5%;
  padding-bottom:5%;
 
}

.projectProposal button, #submit{
  width: 5%;
  height: 4%;
  background-color:#003998;
  border-radius: 3px;
  padding: 4px;
  margin-top: 8px;
  transition-duration: 0.4s;
  border: 2px solid #003998;
  color: white;
  position: absolute;
}

.projectProposal #back, #next{
  background-color:#2979FF;
  border: 2px solid #2979FF;
  margin-left: 45%;
}



.projectProposal #proposalButtons #submit{
  margin-left: 50%;
}

.projectProposal #back:hover, #next:hover{
  background-color:white;
  color: black;
}

.projectProposal button:hover, #submit:hover{
  background-color: white;
  color: black;
}

.projectProposal #back{
  display: none;
}



/* 

.projectProposal #info{
  display: block;
} 

.projectProposal #one, #four, #eight, #eleven{
  display: none;
}
.projectProposal #buttons, #infoButton, #oneButton, #fourButton, #eightButton, #elevenButton{
  
  background-color: #EAEAEA;
  display: flex;
 
  height: 100%;
  align-items: center;
  padding: 0 8px;
  
 
}
.projectProposal #infoButton{
  background-color: lightblue;
  width: 60px;
  height: 100%;
  align-items: center;

} 

.projectProposal #buttons{
  /* width: 80%; */
  /* bottom: 0; */
 /* height: 8vh; */
 /* position: absolute; */
 /* display: flex; */
 /* justify-content: space-between; */
 /* width:80%;
 position: absolute;
 right: 0;
 bottom: 0; 
 height: 8vh;
 padding:0;
 
 } 

.projectProposal #button{
  background-color: white;
  border-radius: 6px;
  padding: 8px;
  width: 2rem;
  text-align: center;
  height: 2rem;
  vertical-align: center;
  margin-left: 2%;
} 


.projectProposal #nextButton{
  margin-top: auto;
  border-radius: 3px;
  padding: 8px;
  width: 5rem;
  text-align: center;
  background-color:#003998;
  transition-duration: 0.4s;
  border: 2px solid #003998;
  color: white;
  float:right;
  position:absolute;
  align-self: right;
  right: 5%;
  height: 2rem;
  
}

.projectProposal #nextButton:hover{
  background-color: white;
  color: black;
} */

/**           PROJECT PREFERENCE FORM             **/

.projectPreferences{
  background-color: #2979FF;
  display: grid;
  width: 100%;
  min-height: 100vh;
  position: absolute;
}

.projectPreferences #projectPreferenceselements h2{
  color: white;
  margin-left: 3vw;
}

.preferenceProjects{
  background-color: white;
  max-width: 80%;
  min-height: 70%;
  min-width: 80%;
  position:static;
  margin: 0;
  margin-left: 3vw;
  border-radius: 10px;
  overflow: auto;
  flex-wrap: wrap;
  display: flex;
  gap: 10px;
  align-content: flex-start;
}

.projectPreferences #sidebuttons{
  width: 10%;
  height: 80%;
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-left: 88%;
  top: 7vh;
}

.projectPreferences #sidebuttons button:hover{
  background-color: lightgray;
  color: black;
  
}

.projectPreferences #sidebuttons button{
  border-radius: 10px;
  padding: 8px;
  width: 90%;
  height: 100%;
  text-align: center;
  border: 0.5px solid gray;
  border-bottom: 2px solid grey;
  background-color: white;
  margin-top: 10px;
  position: relative;
  margin-left: 0;
  align-self: center;
}

.projectPreferences #preferencesubmit button{
  border-radius: 10px;
  padding: 8px;
  width: 100%;
  height: 100%;
  text-align: center;
  border: 0.5px solid gray;
  border-bottom: 2px solid grey;
  background-color: white;
  position: relative;
  margin-left: 0;
}

.projectPreferences #preferencesubmit{
  width: 9%;
  min-width:min-content;
  max-width: 12vw;
  height: 9%;
  left: 88.5%;
  position:relative;
  top:10vh;
}

.projectPreferences #preferencesubmit button{
  height: 50%;
  background-color: #003998;
  color: white;
  border-color: #003998;
  position: relative;
}

.projectPreferences #agreeon{
  margin-top: 35%;
  position:absolute;
  margin-left: 3vw;
}

.projectPreferences .preferenceProjects .project{
  background-color: white;
  margin: 1%;
  border-radius: 10px;
  border: 1px solid #003998;
  text-align:left;
  max-width: 18vw;
  max-height: 28vh;
  min-width: 200px;
  min-height: 100px;
  height: fit-content;
  flex: 1 1 auto;
  flex-wrap: wrap;
}

.projectPreferences .preferenceProjects .project #projectDescription{
  margin-left: 5%;
  font-size:small;
  overflow: auto;
  width:fit-content;
  min-width: 90%;
  min-height: 100%;
}

.projectPreferences .preferenceProjects #projectNum{
  /* position: absolute; */
  float:left;
  display:inline-flex;
  /* padding:2%; */
  width: 20%;
  min-height: 50px;
  max-height: 20vh;
  border-bottom: 1px solid #003998;
  border-right: 1px solid #003998;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 0;
  margin: 0;

  /* padding-top: 8px; */
  /* padding-left: 8px; */
}

.projectPreferences .preferenceProjects #projectNum h2{
  color: black;
  margin-left: 0;
}

.projectPreferences .preferenceProjects #projectName{
  /* position: absolute; */
  display:inline-flex;
  /* padding:2%; */
  /* background-color: yellow; */
  width: 79.5%;
  height: 50px;
  max-height: 20vh;
  border-bottom: 1px solid #003998;
  justify-content: center;
  /* border-right: 1px solid #003998; */
  /* margin-left: -4px; */
  /* margin-top: -4px; */
  /* padding-top: 8px; */
  /* padding-left: 8px; */
  /* width: 141px; */
  /* padding-top: 2%; */
  /* padding-bottom: 2%; */
  text-align: center;
  align-items: center;
  float: right;
  padding: 0;
  margin: 0;

}



.projectPreferences #onsubmission{
  background-color: #2979FF;
  display: none;
  height: 100vh;
  width: 100vw;
  text-align: center;
}

.projectPreferences #onsubmission h2{
  margin-left: 0;
  position: relative;
  color: white;
}


.projectPreferences #onsubmission #return button{
  background-color: #003998;
  color: white;
  border: 1px solid #003998;
  border-radius: 10px;
  height: 5vh;
  width: 10vw;
}



.projectPreferences #onsubmission #chosenProjects{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
}

.projectPreferences #onsubmission #chosenProjects .project{
  background-color: white;
  margin: 3%;
  margin-top: 30vh;
  border-radius: 10px;
  border: 1px solid #003998;
  max-width: 20vw;
  max-height: 18vh;
  overflow: hidden;
}

#confirm{
  min-height: fit-content;
  min-width: fit-content;
  width: 50%;
  top: 30%;
  z-index: 1;
  align-self: center;
  margin: 0;
  position: fixed;
  text-align: center;
  justify-self: center;
  background-color: #2979FF;
  color: white;
  border: 1px solid #003998;
  border-radius: 10px;
  display: none;
}

#confirmprojects{
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
}

#confirmprojects .project{
  background-color: white;
  color: black;
  margin: 3%;
  border-radius: 10px;
  border: 1px solid #003998;
  text-align:center;
  max-width: 20vw;
  max-height: 20vh;
  min-width: 80px;
  min-height: 80px;
  height: fit-content;
}

#confirm p{
  font-size: small;
}

#confirm button{
  background-color: #003998;
  margin: 1%;
  padding: 1%;
  width: 100px;
  color: white;
  border: solid 1px #003998;
  border-radius: 10px;
}

#projectPreferenceselements{
  opacity: 100%;
  background-color: #2979FF;
}






/**           PROJECTS STUDENT VIEW           **/

.projectsAvailable ul{
  /* list-style-type: none; gets rid of bullet points */
  height: 100%;
  /* background-color: aquamarine; */
  padding: 5%;
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.projectsAvailable .project{
  background-color: white;
  margin: 1%;
  border-radius: 10px;
  border: 1px solid #003998;
  text-align:left;
  max-width: 18vw;
  max-height: 28vh;
  min-width: 200px;
  min-height: 100px;
  height: fit-content;
  flex: 1 1 auto;
  flex-wrap: wrap;
}

.projectsAvailable #projectNum{
  float:left;
  display:inline-flex;
  /* padding:2%; */
  width: 20%;
  height: 50px;
  max-height: 20vh;
  border-bottom: 1px solid #003998;
  border-right: 1px solid #003998;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.projectsAvailable  #projectDescription{
  margin-left: 5%;
  font-size:small;
  overflow: auto;
  width:fit-content;
  min-width: 90%;
  min-height: 100%;
}

.projectsAvailable #projectName{
  display:inline-flex;
  /* padding:2%; */
  /* background-color: yellow; */
  width: 79.5%;
  height: 50px;
  max-height: 20vh;
  border-bottom: 1px solid #003998;
  justify-content: center;
  /* border-right: 1px solid #003998; */
  /* margin-left: -4px; */
  /* margin-top: -4px; */
  /* padding-top: 8px; */
  /* padding-left: 8px; */
  /* width: 141px; */
  /* padding-top: 2%; */
  /* padding-bottom: 2%; */
  text-align: center;
  align-items: center;
  float: right;
  padding: 0;
  margin: 0;
}

/**           About Page + Contact Page           **/

.aboutuspage{
  text-align: center;
}

.contactpage{
  text-align: center;
}

#viewprevious{
  font-weight: bold;
  font-size: smaller;
}

#viewprevious button{
  color: white;
  background-color: #003998;
  min-width: 26vw;
  float:center;
  padding: 1%;
  border-radius: 3px;
  border-style: hidden;
}

#viewprevious a{
  color: white;
  text-decoration: none;
}

#viewprevious button:hover{
  min-width: 26vw;
  float:center;
  text-decoration: underline;
}

/**           New Semster Page           **/


.newsemsterpage{
  position:absolute;
  height: 100%;
  width: 100%;
  display: grid;
}

.newsemsterpage #newsemsterpage-heading{
  text-align: center;
}

.newsemsterpage #newsemsterpage-heading h1{
  margin-top:-3vh;
}


.newsemsterpage-semster1{
  height: fit-content;
  width: 30%;
  justify-self: center;
  display: inline;
}

.newsemsterpage-semster1 input[type=short]{
  max-width: 17%;
  margin: 1%;

}

.newsemsterpage-semster1 input[type=long]{
  max-width: 27%;
  margin: 2%;
}

.rightside{
  float: right;
}

.leftside{
  float: left;
}

.end{
  float: right;
  width: 35%;
}

.begin input[type=short]{
  max-width: 15%;
  margin: 1%;

}

.begin input[type=long]{
  max-width: 20%;
  margin: 1%;
}

.begin{
  float: left;
  width: 45%;
}

.newsemsterpage-semster2{
  height: fit-content;
  width: 30%;
  justify-self: center;
}

.newsemsterpage-semster2 input[type=short]{
  max-width: 17%;
  margin: 1%;

}

.newsemsterpage-semster2 input[type=long]{
  max-width: 27%;
  margin: 2%;
}

.newsemsterpage-semster2{
  margin-top:-5%;
}

.newsemsterpage-buttons{
  justify-self: center;
  display: flex;
  width: 18%;
  justify-content: space-between;
}

.newsemsterpage-buttons button{
  max-width: 10vw;
  min-width: 8vw;
  max-height: 6vh;
  border: 1px white solid;
  border-radius: 5px;
  color: white;
  font-size: large;
}

.cancel{
  background-color: #2979FF;
}

.create{
  background-color: #003998;
}

/**           Manage Future Semester Page           **/

.managefuturepage{
  position:absolute;
  height: 100%;
  width: 100%;
  display: grid;
}

.managefuturepage #managefuturepage-heading{
  text-align: center;
}

.managefuturepage #managefuturepage-heading h1{
  margin-top:-3vh;
}

.managefuturepage-semster1{
  height: fit-content;
  width: 30%;
  justify-self: center;
  display: inline;
}

.managefuturepage-semster1 input[type=short]{
  max-width: 17%;
  margin: 1%;

}

.managefuturepage-semster1 input[type=long]{
  max-width: 27%;
  margin: 2%;
}

.rightside{
  float: right;
}

.leftside{
  float: left;
}

.end{
  float: right;
  width: 35%;
}

.begin input[type=short]{
  max-width: 15%;
  margin: 1%;

}

.begin input[type=long]{
  max-width: 20%;
  margin: 1%;
}

.begin{
  float: left;
  width: 45%;
}

.managefuturepage-semster2{
  height: fit-content;
  width: 30%;
  justify-self: center;
}

.managefuturepage-semster2 input[type=short]{
  max-width: 17%;
  margin: 1%;

}

.managefuturepage-semster2 input[type=long]{
  max-width: 27%;
  margin: 2%;
}

.managefuturepage-semster2{
  margin-top:-5%;
}

.managefuturepage-buttons{
  justify-self: center;
}

.managefuturepage-buttons button{
  max-width: 10vw;
  min-width: 8vw;
  max-height: 8vh;
  min-height: 6vh;
  border: 1px white solid;
  border-radius: 5px;
  color: white;
  font-size: large;
}

.save{
  background-color:#003998;
}

/**           Manage Current Semester Page           **/

.managecurrentpage{
  position:absolute;
  height: 100%;
  width: 100%;
  display: grid;
}

.managecurrentpage form{
  height: fit-content;
  width: 30%;
  justify-self: center;
  display: inline;
}

.managecurrentpage #managecurrentpage-heading{
  text-align: center;
}

.managecurrentpage #managecurrentpage-heading h1{
  margin-top:-3vh;
}

.managecurrentpage-semster1{
  height: fit-content;
  width: 30%;
  justify-self: center;
  display: inline;
}

.managecurrentpage-semster1 input[type=short]{
  max-width: 17%;
  margin: 1%;

}

.managecurrentpage-semster1 input[type=long]{
  max-width: 27%;
  margin: 2%;
}

.rightside{
  float: right;
}

.leftside{
  float: left;
}

.end{
  float: right;
  width: 35%;
}

.begin input[type=short]{
  max-width: 15%;
  margin: 1%;

}

.begin input[type=long]{
  max-width: 20%;
  margin: 1%;
}

.begin{
  float: left;
  width: 45%;
}

.managecurrentpage-semster2{
  height: fit-content;
  width: 30%;
  justify-self: center;
}

.managecurrentpage-semster2 input[type=short]{
  max-width: 17%;
  margin: 1%;

}

.managecurrentpage-semster2 input[type=long]{
  max-width: 27%;
  margin: 2%;
}

.managecurrentpage-buttons{
  justify-self: center;
  display: flex;
  width: 18%;
  justify-content: space-between;
}

.managecurrentpage-buttons button{
  max-width: 10vw;
  min-width: 8vw;
  max-height: 6vh;
  border: 1px white solid;
  border-radius: 5px;
  color: white;
  font-size: large;
}

.retire{
  background-color: #2979FF;
}

.save{
  background-color:#003998;
}



/**          Projects archive          **/


.archive{
  display: grid;
  position: absolute;
}

.archive #archivedProjects{
  max-width: 80%;
  min-height: 70%;
  min-width: 80%;
  position:static;
  margin: 0;
  /* margin-left: 3vw; */
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  /* gap: 7px; */
  align-content: flex-start;
  width: 100vw;
}

#archivedProjects .project{
  background-color: white;
  margin: 1%;
  border-radius: 10px;
  border: 1px solid #003998;
  text-align:left;
  max-width: 18vw;
  /* max-height: 28vh; */
  min-width: 200px;
  /* min-height: 100px; */
  height: fit-content;
  flex: 1 1 auto;
  flex-wrap: wrap;
}

#archivedProjects .project #projectDescription{
  /* margin-left: 5%; */
  font-size:small;
  overflow: auto;
  width:fit-content;
  min-width: 90%;
  /* min-height: 100%; */
  height: 100px;
  /* margin-bottom: 0; */
  top: 0;
}

#archivedProjects .project #projectNum{
  display: none;
}


#archivedProjects .project #projectName{
  display:inline-flex;
  width: 100%;
  height: 50px;
  max-height: 20vh;
  border-bottom: 1px solid #003998;
  justify-content: center;
  text-align: center;
  align-items: center;
  float: right;
  padding: 0;
  margin: 0;
  font-weight: bold;
}

.archive .project #projectClient{
  display:inline-flex;
  width: 100%;
  height: 50px;
  max-height: 20vh;
  border-bottom: 1px solid #003998;
  justify-content: center;
  text-align: center;
  align-items: center;
  float: right;
  padding: 0;
  margin: 0;
}

.archive .project #projectStatus{
  display:inline;
  width: 100%;
  height: 40px;
  max-height: 20vh;
  border-top: 1px solid #003998;
  justify-content: center;
  text-align: center;
  align-items: center;
  float: right;
  padding: 0;
  margin: 0;
  background-color: red;
  border-radius: 0 0 10px 10px;
  color: white;
  font-weight: bold;
}


/**          ADMIN HEADER         **/
.head{
  justify-content: center;
  background-color:#2979FF;
  text-align: center;
  position: relative;
  display: inline-block;
  width: 100%;
}



.head #title{
  /* height: 7vh; */
  color: white;

  /* display: flex; */
  /* flex-direction:column; */
  
}

.head #button{
  width: 20px;
}

.head #dropdown{
  display: none;
  position: absolute;
  /* background-color: #f9f9f9; */
  min-width: 160px;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  /* padding: 12px 16px; */
  z-index: 1;
  margin-left: 40%;
  width: 20%;
  margin-right: auto;
  justify-content: center;
  margin-top: 0;
}

.head #dropdown:hover{
  display: block;
}

.head ul{
  list-style: none;
  background-color: #003998;
  text-align: center;
  margin-top: 0;
  padding-left: 0;
}

.head ul a{
  color:white;
}

.head li{
  padding: 2px;
}

.head li:hover{
  background-color: #003970;

}