.content {
  z-index: 10;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100%;
  flex-grow: 1;
}

.page-content {
  flex-grow: 1;
  min-width: 50vw;
  max-width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10vh;
  align-items: center;
  gap: 6vh;
}


.page-content.text-page{
  flex-grow: 1;
  min-width: 50vw;
  max-width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  margin-bottom: 10vh;
  align-items: center;
  gap: 6vh;
}

.page-heading {
  margin-top: 4vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-subheading {
  margin-top: auto;
  font-size: 25px;

}



.confirmation-content{
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: auto;
  max-width: 25vw;
  padding: 4vh;
  gap: 1vh;
  flex-direction: column;
  min-width: 200px;
}

.confirmation-header p{
  color: white !important;
  font-size: 32px !important;
}

.confirmation-content a{
  padding: 2vh;
}

button {
  border-radius: 10px;
  border: none;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.45);
}

.landing-page button:hover {
  background-color: white;
  cursor: pointer;
}

.main-button {
  border: 5px solid rgba(255, 255, 255, 0);
  border-radius: 10px;
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.45);
}

.edit-button {
  background-image: url('./media/edit-icon.png');
  background-size: 60% 60%;
  background-repeat: no-repeat;
  background-position: center;
  width: 15px;
  height: 15px;
  border: none;
  cursor: pointer;
  box-sizing: content-box;
  padding: 7px;
}


/* WINDOW POP UPS */

.pop-up {
  border-radius: 5px;
  margin: 15px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 0.45);
  width: 70%;
  margin: 10px;
  margin-left: 15%;
  display: flex;
  flex-direction: column;
}

.pop-up p {
  padding: 20px;
  font-size: 13px;
  font-weight: 400;
}

.pop-up-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding: 0;
  margin: 0;
}

.warning {
  font-style: italic;
}

.pop-up-button {
  background-color: var(--text-color-dark);
  padding: 7px;
  color: white;
  border: none;
  border-color: var(--theme-dark);
}


.quit-button-container {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 1vh;
  margin-right: 1vh;
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
  background-color: inherit !important;
}

.quit-button {
  background-image: url('./media/quit-icon.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: inherit;
  min-width: 100%;
  padding: 0px !important;
  margin: 0px !important;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
  background-color: inherit !important;
}

.quit-button:hover {
  background-color: transparent !important;
  filter: opacity(0.5);
}