@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Thasadith:ital,wght@0,400;0,700;1,400;1,700&display=swap");


:root {
  --theme-very-dark: #006DCC;
  --theme-dark: #0174DF;
  --theme-mid-dark: #2184e0;
  --theme-mid: #7cc2ff; 
  --theme-light: #addbff;
  --theme-very-light: #ddf4ff;
  --theme-shadow: drop-shadow(0px 10px 12px rgba(28, 56, 112, 0.7));
  --transparent: rgba(255, 255, 255, 0.5);

  --theme-font: 'Poppins'; 
  --text-color-dark: #003C70;
  --text-color-light: #1978D2;
}

h1, h2 {
  color: white !important;
}

p, h2, h3, body, ul, button, input, label,
a:visited{
  font-family: var(--theme-font);
  font-weight: 600;
  color: var(--text-color-dark);
}

a {
  text-decoration: none;
}


a, button{
  transition: 0.5s;
}

a, button:hover{
  transition: 0.5s;
}

body, html {
  margin: 0;
  /* min-height: 1000vh; */
  font-family: var(--theme-font);
}

body{
  display: flex;
  flex-direction: column;
  background-color: #dcf4ff;
  background: linear-gradient(360deg, #dcf4ff 15%, #0174DF 75%, #006DCC 100%) !important;
  z-index: -1;
  background-size: cover;
  background-attachment: fixed;
}



main{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  position: relative;
  margin-top: 10vh;
  min-height: 90vh;
  /* padding-top: 10vh; */
}

main h1{
  font-size: 45px;
  font-weight: 700;
  padding: 0;
  margin: 0;

}

main h2{
  font-size: 18px;
  margin-top: -4vh;
}

main p{
  font-size: 16px;
}



#fill {
  height: 100vh;
  width: 100vw;
}

#fillheight {
  height: 100vh;
}

#fillwidth {
  width: 100vw;
} 


a:hover{
  opacity: 0.6;
}
