## Example code for .env file in backend

# placeholders used for sensitive data,
# leave those values unchanged in your original .env file

DB_FILENAME=project-database.db
DB_INIT_SCRIPT=src/sql/init-db.sql
DB_DEMO_SCRIPT=src/sql/demo.sql
PORT=3001
DB_NAME=cornerstone_schema
JWT_SECRET_KEY = jwt_secret_key_placeholder
TOKEN_HEADER_KEY = authToken
GOOGLE_CLIENT_ID = google_client_id_placeholder 
GOOGLE_CLIENT_SECRET= google_client_secret_placeholder 
GOOGLE_REDIRECT_URI=http://localhost:3001/api/auth/google/callback 

DEV_EMAIL= iwoo708@aucklanduni.ac.nz # replace with your uni email
DEV_USER_ROLE='student' # replace with the user type you want to sign in as, 'admin', 'client', or 'student'
TESTING = true # allows DEV user login using above details
