## Example code for .env file in backend

# placeholders used for sensitive data,
# leave those values unchanged in your original .env file

DB_FILENAME=project-database.db
DB_INIT_SCRIPT=src/sql/init-db.sql
DB_DEMO_SCRIPT=src/sql/demo.sql
PORT=8080
DB_NAME=ebdb
JWT_SECRET_KEY=8bbc2b003a7122c32f7fbf57ad4ed9deac0061c713ba034aaaab733bf716970e
TOKEN_HEADER_KEY=authToken
GOOGLE_CLIENT_ID=375766336320-kdj4shjbe7t18r2e6kcljfq77c9jmutc.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_REDIRECT_URI=https://compsci399/api/auth/google/callback 

RDS_DB_NAME=ebdb
RDS_PASSWORD=error404
RDS_PORT=3306
RDS_HOSTNAME=awseb-e-huazsmxezu-stack-awsebrdsdatabase-tkhcd1kkcmwl.c7doezidupu4.ap-southeast-2.rds.amazonaws.com
RDS_USERNAME=cornerstone