.subheading {
    text-transform: capitalize;
}

.content-sections-container{
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 2vh;
    height: auto;
    justify-content: start;
    width: 100%;
    gap: 2vh;
    /* height: 60vh; */
    flex-wrap: wrap;
}

.manage-semester-page .page-content{
    gap: 3vh;
    /* min-width: 90vw; 
    flex-direction: row;
    justify-content: start;
    align-items: start; */
}

.manage-semester-page .container-text{
    flex: 1;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-top: -0.7ch; */
    /* align-items: inherit; */
    /* line-height: 2ch; */
}

.manage-semester-page .container-text p{
    /* padding-top: 0.1ch; */
    /* padding-bottom: 0.1ch; */
    margin: 0;
    min-height: 23px;
}

/* .manage-semester-page .content{
    max-width: 60%;
    display: flex;
    flex-direction: column;
    gap: 40px;
} */

.manage-semester-page .content-section{
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: left;
    min-width: 100%;
    padding: 0;
    margin: 0;
    gap: 0.5vh;
}

.manage-semester-page input[type=date]::-webkit-calendar-picker-indicator{
    margin-left: -10px !important;
}

.content-section-text.processing{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 1ch;

}

.manage-semester-page .content-section-heading{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 0;
    margin: 0;
    padding: 0;
}



/* .manage-semester-page .content-section-data{
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 0.3vh;
    
} */

.manage-semester-page .content-section-text p{
    margin: 0;
}

.manage-semester-page .content-section-text p, 
.manage-semester-page .content-button-container p{
    font-size: 14px;
} 


.content-button-container{
    display: flex;
    gap: 1vh;
}

.edit-input.max{
    width: 4ch !important;
}

.content-button-container button{
    color: var(--text-color-light);
}
/* p input{
    max-height: inherit;
} */

.manage-semester-page .edit-input{
    background-color: var(--theme-light);
    font-weight: 600;
    display: inline-block; 
    width: auto;
    height: auto; 
    /* font-size: 12px;  */
    /* line-height: 2ch;  */
    vertical-align: baseline; 
    padding: 0px 3px 0px 3px;
    margin: 0 0.5ch 0 0.5ch;
    /* padding: 0; */
    /* margin: 0; */

}

/* .edit-input.not-edited{
    background-color: var(--theme-light);
    border: inherit;
} */

.edit-input:focus{
    border: none;
    outline: none;
}
/* small subeadings */
.text-detail {
    font-size: 15px;
    margin-top: -1vh;
}

.manage-semester-page .pop-up{
    justify-content: center;
    padding: 1vh;
}

.manage-semester-page .pop-up-text p{
    margin: 0;
}


.manage-semester-page .pop-up-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 100%;
    align-items: center;
    padding: 2vh;
}
.manage-semester-page .pop-up-header h3{
    color: var(--text-color-light) !important;
    font-size: 20px;

}

.manage-semester-page .file-form-container{
    padding: 1vh;
}

.manage-semester-page .pop-up-button{
    background-color: var(--theme-dark);
    padding: 1vh;
    font-size: 12px;
}

/* .manage-semester-page .pop-up-button:hover{
    opacity: 0.7;
} */

.date-container{
    position: relative;
}


.max{
    margin-right: 1vh;
    background-color: var(--theme-light);
    border: none;
    /* border: 3px solid var(--text-color-dark); */
}
.manage-semester-page .confirm-upload-button{
    background-color: var(--theme-highlight);
    opacity: 1;
}

.upload-success-message{
    font-weight: 600 !important;
}


/* UPLOADING/DOWNLOADING FILES  */


.upload-button{
    width: auto;
}

.upload-icon{
    /* background-image: ; */
    max-width: 20px;
    margin: -5px 3px -5px 0px;
}

.file-form-container {
    max-height: 30px;
    border-radius: 5px;
    overflow: visible;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0px;
    align-items: center;
    padding: 0; 
    margin: 0;
}

.select-file-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 10px;
    width: auto;
}

.upload-file-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 10px;
    width: auto;
}


.select-file-default {
    opacity: 0;
    position: absolute;
    z-index: -1; 
}

.file-name{
    font-size: 15px;
    margin: 0px;
}.account-settings-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px;
}

.button-container{
    /* margin-left: 10px; */
    margin-top: -0.5ch !important;
}

.dates .semester-data-container{
    display: flex;
    flex-direction: row;
    margin-bottom: 0px;
    align-items: center;
}

.students .semester-data-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
    align-items: left;
    justify-content: start;

}

button.unavailable{
    opacity: 0.4 !important;
}

.upload-button.process,
.upload-button.save.ready{
    color: var(--theme-highlight) !important;
}
/* 
.upload-button.save.not-ready{
    color
} */

.manage-semester-page .button-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: left;
    gap: 1ch;
    margin-top: 2px;
    padding: 0;
    /* font-size: 10px !important; */
    /* position: absolute; */
}

.manage-semester-page .button-container button{
    color: var(--text-color-light);
}


.manage-semester-page p.account-data {
    margin: 0px;
    padding: 0px;
}

.manage-semester-page h3{
    color: var(--text-color-dark) !important;
}

.manage-semester-page h4,
.manage-semester-page h3,
.manage-semester-page .text-detail{
    margin:0;
    padding: 0;
}

.manage-semester-page button{
    background-color: transparent;
    padding: 0;
    margin: 0;
    font-size: 14px;
    /* filter: invert(1); */
}

.manage-semester-page button:hover{
    opacity: 0.6;
}

input[type="number"] {
    width: 50px;
}

form p {
    display: inline-block;
    margin-right: 15px;
}
