.subheading {
    text-transform: capitalize;
}

.page-content {
    position: relative; 
    z-index: 1;
    margin-top: 0vh;
}

/* small subeadings */
.text-detail {
    font-size: 15px;
    margin-top: -20px;
    font-style: italic;
}

/* DROP DOWN MENU */

.semester-heading{ 
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -2vh;
}

.dropdown-button{
    background-image: url('/../client/src/media/drop-icon.png');
    background-size: 60% 60%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: inherit;
    margin-top: 0px;
    width: 25px;
    height: 25px;
    border: none;
    cursor: pointer;
    box-sizing: content-box;
    position: relative;
}

.dropdown-menu{
    text-decoration: none;
    list-style-type: none;
    display: none;
    position: absolute;
    background-color: lightgray;
    z-index: 100;
    width: 200px;
    padding: 0px;
    margin-top: 10px;
    margin-left: -80px;
    border: 2px solid lightgray;
    border-radius: 10px;
}

.dropdown-menu-button{
    background-color: inherit;
    font-size: 18px;
    font-weight: normal;
    padding: 5px;
    text-decoration: none;
}

.dropdown-menu-button:hover{
    font-weight: bold;
    background-color: inherit;

}

/* UPLOADING/DOWNLOADING FILES  */


.upload-button{
    width: auto;
}

.upload-icon{
    /* background-image: ; */
    max-width: 20px;
    margin: -5px 3px -5px 0px;
}

.download-icon{
    /* background-image: ; */
    max-width: 25px;
    margin: -5px 3px -2px 0px;
}

.file-form-container {
    max-height: 30px;
    border-radius: 5px;
    overflow: visible;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0px;
    align-items: center;
    padding: 0; 
    margin: 0;
}

.data-container {
    width: 41vw;
}

.container-button button {
    margin-top: 5px;
}

.select-file-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 10px;
    width: auto;
}

.upload-file-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 10px;
    width: auto;
}


.select-file-default {
    opacity: 0;
    position: absolute;
    z-index: -1; 
}

.file-name{
    font-size: 15px;
    margin: 0px;
}