.create-semester-page{
    max-height: 90vh;
}

.create-semester-page .content-section p{
    font-size: 13px;
}


.create-semester-page .start-end-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1vw;
}

.create-semester-page.form-content h1{
    color: var(--text-color-dark) !important;
    font-size: 20px;
}

.create-semester-page h2{
    margin-bottom: -2vh !important;
}

.create-semester-page .confirmation-content{
    margin-top: 17vh;
}

.create-semester-page .confirmation-header h3{
    color: var(--text-color-dark);
}

.create-semester-page .page-content{
    /* max-width: 40%;
    min-width: 40%; */
    width: 50vw;
    padding: 3vh;
    margin-top: 5vh;
}

.create-semester-page .form-content{
    background-color: rgba(255, 255, 255, 0.3);
    /* padding: 20px;     */
    border-radius: 5px;
    /* width: 50vw; */
    /* max-width: 90%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    overflow: wrap;
    gap: 2vh;

}

/* .create-semester-page .form-section{
    margin: 2vh;
} */

.create-semester-page.form-content h2{
    color: var(--text-color-dark) !important;
    font-size: 20px;
}

.create-semester.form-content label{
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    margin-bottom: 2vh;
    align-items: center;

}

.create-semester-page button{
    background-color: var(--theme-mid-dark);
    color: white;
    margin-top: 2vh;
    /* transition: 0s; */

}

.create-semester-page button:hover{
    background-color: var(--theme-light) !important;
    /* transition: 0s; */
    /* color: white;
    margin-top: 2vh; */
}

.create-semester-page .form-fill label{
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    max-width: 80%;
}

.create-semester-page input,
.create-semester-page textarea,
.date-input select{
    background-color: white;
    border-radius: 5px;
    border-color: transparent;
    font-family: var(--theme-font);
    padding: 10px;
    /* height: 10%; */
    width: 150px;
    color: rgba(0, 0, 0, 0.495);
    font-weight: 600;
}

.create-semester-page textarea::placeholder,
.create-semester-page input::placeholder{
    color: rgba(0, 0, 0, 0.495);
    font-weight: 600;
}


.date-input-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:0.5vw;
    width: 100%;
}

.date-input{
    display: flex;
    gap: 1vw;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.date-input select{
    border-radius: 5px;
    border: none;
    font-family: var(--theme-font);
}



