.students-projects-view-page .page-content{
    min-width: 90vw;
    justify-content: start;
}

.students-projects-view-page .projects-container{
    margin-top: 5vh;
    max-height: 100%;
    max-width: 100%;
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:15px;
    margin-top: 0;
}

.students-projects-view-page .project-container.collapsed{
    width: calc(280px + 5vh);
    height: calc(250px + 5vh);
} 

.students-projects-view-page .project-container.expanded{
    display: flex;
    flex-direction: column;
    overflow: visible;
    padding: 2vh;
    width: 60vw;
    min-width: 60vw;
    margin-left: 10vw;
    margin-right: 10vw;
    max-height: none;
    background-color: white;
}


.students-projects-view-page .project-container:hover{
    cursor: pointer;
} 

.expand-collapse-button{
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content: end;
    gap: 1vh;
    width: calc(1250px + 24vh);

}


.students-projects-view-page .projects-buttons-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 85vw;
    max-width: 85vw;
    gap: 1vh;
}

.expand-collapse-button button{
    background-color: transparent !important;
    color: white;

}

.redirect-to-proposal{
    padding:20px;
}