.account-settings-page .page-content{
    justify-content: start;
    width: 100%;
}

.account-settings-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 20px;
}

.editing-button-container > button{
    margin-left: 10px;
}
.account-settings-page .pop-up{
    margin-top: -3vh;
}

.account-settings-page .pop-up-header{
    justify-content: center !important;
    margin-top: 1vh;
}
.confirm-delete-account-button{
    background-color: inherit !important;
    color: var(--text-color-dark) !important;

}

.page-content.text-content{
    align-items: stretch;
}

.account-settings-page .content-section{
    text-align: left;
    /* width: 600px;
    min-width: 300px; */
}


.delete-h3{
    color: var(--text-color-dark) !important;
    text-align: center;
}

.data-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0px;
    align-items: center;
}

.account-detail{
    display: flex;
    align-items: center;
    justify-content: center;
}