.account-settings-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px;
}

.editing-button-container > button{
    margin-left: 10px;
}

.account-settings-page .content-section{
    text-align: left;
    width: 600px;
    min-width: 300px;
}

.data-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0px;
    align-items: center;
}

.account-settings-page .content{
    max-width: 60%;
}
